_build/*
doc/Makefile
doc/sphinx/Makefile
doc/sphinx/build/*
doc/sphinx/locale/*
doc/sphinx/source/matlab_octave/images/*.png
doc/sphinx/source/project/images/*.png
doc/sphinx/source/python/images/hierarchy.png
doc/sphinx/source/scilab/images/*.png
doc/sphinx/source/userdoc/images/*.png
locale/**/*.mo
locale/pot/.doctrees
