repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: requirements-txt-fixer
  - id: check-merge-conflict
  - id: debug-statements
    exclude: ^(|bin|doc)
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude: ^(|bin|doc)
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.0
  hooks:
    - id: check-github-workflows
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
  - id: black
    exclude: ^doc/
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    exclude: ^doc/
